@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

.conteiner {
  scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  text-align: center;
  margin: 1em;
  scroll-snap-align: start;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1em;
  cursor: pointer;
}

h2:hover {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 1em;
  border-radius: 1em;
  color: #000;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}
